.p1
{
    text-align: center;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.div1
{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 10px;
}

.div2
{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 10px;
}

.div3
{
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 50%;
    margin-bottom: 10px;

}

.divmaman1
{
    display: flex;
    flex-direction: column-reverse;

}

.divmaman2
{
    display: flex;
    flex-direction: row-reverse;

}

.divmaman3
{
    display: flex;
    flex-direction: inherit;

}

.divmaman4
{
    display: flex;
    flex-direction: column;

}